{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Notes</h1>
<ul id="notes">
    {% for note in user.notes %}
        <li class="noteli">
            {{note.data}}
            <button type="button" class="close" onClick="deleteNote({{note.id}})">
                &times;
            </button>
        </li> 
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note"></textarea>
    <button type="submit">Add Note</button>
</form>
{% endblock %}